body{
  margin:0px;
  padding:0px;
  width:100%;
  min-width:1900px;
  max-width:100%;
  height:100%;
  background-color:#F0F0F0;
  overflow:auto;
}
div.logo{
	float:left;
    margin:15%;
	margin-top:3%;
	margin-bottom:1%;
	border:solid 0px black;
	height:auto;
}
div.ChangeColor{
	float:left;
	width:100px;
	margin-left:-50px;
	margin-top:4%;
	border:solid 0px black;
	font-family:KaiTi;
	font-size:1.5em;
}
div.color1{
	float:left;
	background-color:#F0F0F0;
	width:25px;
	height:25px;	
	margin-left:15px;
	margin-top:4%;
	border:solid 1px #999999;
    cursor:pointer;
	box-shadow: 2px 2px 2px #666633;
}
div.color2{
	float:left;
	background-color:#cccc99;
	width:25px;
	height:25px;	
	margin-left:15px;
	margin-top:4%;
	border:solid 1px #999999;
    cursor:pointer;
}
div.color3{
	float:left;
	background-color:#ffcccc;
	width:25px;
	height:25px;	
	margin-left:15px;
	margin-top:4%;
	border:solid 1px #999999;
    cursor:pointer;
}
div.color4{
	float:left;
	background-color:#ccffff;
	width:25px;
	height:25px;	
	margin-left:15px;
	margin-top:4%;
	border:solid 1px #999999;
    cursor:pointer;
}
div.color5{
	float:left;
	background-color:#ccccff;
	width:25px;
	height:25px;	
	margin-left:15px;
	margin-top:4%;
	border:solid 1px #999999;
    cursor:pointer;
}
div.color6{
	float:left;
	background-color:#ffffcc;
	width:25px;
	height:25px;	
	margin-left:15px;
	margin-top:4%;
	border:solid 1px #999999;
    cursor:pointer;
}
div.ChangeSize{
	float:left;
	width:100px;
	margin-left:200px;
	margin-top:4%;
	border:solid 0px black;
	font-family:KaiTi;
	font-size:1.5em;
}
div.small,div.normal,div.big{
    font-family:KaiTi;
	font-size:1.5em;
	float:left;
	width:25px;
	height:25px;	
	margin-left:15px;
	margin-top:4%;
	border:solid 1px #999999;
    cursor:pointer;
}
div.normal{
	box-shadow: 2px 2px 2px #666633;
}
div.nav-left{
	clear:both;
	float:left;
	margin-left:250px;
	overflow:auto;
	height:auto;
	width:300px;
	border:solid 1px #999999;
}
div.footer{
	clear:both;
	margin:5%;
	margin-left:250px;
	margin-top:20px;
	margin-bottom:20px;
	border:solid 1px #999999;
	height:auto;
	background-color:#cccccc;
	text-align:center;
	width:1400px;
}
a.logo{
	text-decoration: none;
	font-family: LiSu;
	font-style: italic;
	font-size: 3em;
	font-weight: 900;
	color:#996600;
	padding-bottom: 1px;
}
a.logo:hover{
	border-bottom: 5px solid #cc9966;
}
ul
{
float:left;
width:100%;
padding:0;
margin:0;
list-style-type:none;
}
p.category_first
{
display:inline;
float:left;
width:4.4em;
color:white;
padding:0.3em 0.8em;
border-right:1px solid white;
font-size:1.8em;
text-align:center;
background-color:#999966;
	font-family:SimHei;
	cursor:pointer;
	color:white;
}
p.category
{
display:inline;
float:left;
width:4.4em;
padding:0.3em 0.8em;
border-right:1px solid white;
font-size:1.8em;
text-align:center;
background-color:#FFFFcc;
	font-family:SimHei;
	cursor:pointer;
}
p.category:hover{
	background-color:#999966;
		color:white;
}
li {display:inline}
p.list{
		font-size:1.5em;
	    font-family:SimHei;
		line-height:1.5;
		text-align:center;
		cursor:pointer;
		background-color:#F0F0F0;
		color:black;
}
p.list:hover{
		background-color:#999999;
		color:white;
}
p.NavFocus{
		font-size:1.5em;
	    font-family:SimHei;
		line-height:1.5;
		text-align:center;
		cursor:pointer;
		background-color:#999999;
		color:white;
}
div.chapter{
	float:left;
	display:block;
	width:1080px;
	height:auto;
	/*background-color:#cccc66;*/
	/*overflow: auto;*/
}
p.book_title{
	text-align: center;
	margin-left:40px;
	width:auto;
	height:auto;
	border:solid 0px black;
	font-size: 2.5em;
	font-family: SimSun;
	line-height: 1.5;
}
p.chapter_number{
	text-align: center;
	margin-left:40px;
	border:solid 0px black;
	font-size: 2em;
	font-family: SimSun;
	line-height: 1.5;
}
p.chapter_content{
	text-indent:40px;
	position:relative;
	margin-left:100px;
	width:900px;
	border:solid 0px black;
	font-size:1.5em;
	line-height: 1.5;
	font-family:SimSun;
}
p.LastChapter{
	float:right;
	margin-right:100px;
	border:solid 1px black;
	width:50px;
	cursor: pointer;
}
p.NextChapter{
	float:right;
	margin-right:100px;
	border:solid 1px black;
	width:50px;
	cursor: pointer;
}


