body{
  margin:0px;
  padding:0px;
  width:100%;
  min-width:1800px;
  max-width:100%;
  height:100%;
  background-color:#F0F0F0;
  overflow:auto;
}
div.logo{
    margin:5%;
	margin-top:3%;
	margin-bottom:0;
	border:solid 0px black;
	height:auto;
}
div.category{
	margin:5%;
	margin-top:0;
	margin-bottom:0;
	border:solid 0px black;
	height:80px;
}
div.nav-left{
	clear:both;
	float:left;
	margin-left:5%;
	overflow:auto;
	height:720px;
	width:18%;
	border:solid 1px #999999;
}
div.main{
	float:left;
	overflow:auto;
	height:720px;
	width:72%;
	border:solid 0px black;
}
div.footer{
	clear:both;
	margin:5%;
	margin-top:0;
	margin-bottom:0;
	border:solid 1px #999999;
	height:auto;
	background-color:#cccccc;
	text-align:center;
}
a.logo{
	text-decoration: none;
	font-family: Georgia;
	font-style: italic;
	font-size: 3em;
	font-weight: 900;
	color:#996600;
	padding-bottom: 1px;
}
a.logo:hover{
	border-bottom: 5px solid #cc9966;
}
ul
{
float:left;
width:100%;
padding:0;
margin:0;
list-style-type:none;
}
p.category_first
{
display:inline;
float:left;
width:4.6em;
color:white;
padding:0.3em 0.8em;
border-right:1px solid white;
font-size:1.8em;
text-align:center;
background-color:#999966;
	font-family:SimHei;
	cursor:pointer;
	color:white;
}
p.category
{
display:inline;
float:left;
width:4.6em;
padding:0.3em 0.8em;
border-right:1px solid white;
font-size:1.8em;
text-align:center;
background-color:#FFFFcc;
	font-family:SimHei;
	cursor:pointer;
}
p.category:hover{
	background-color:#999966;
		color:white;
}
li {display:inline}
p.list{
		font-size:1.5em;
	    font-family:SimHei;
		line-height:1.5;
		text-align:center;
		cursor:pointer;
		background-color:#F0F0F0;
		color:black;
}
p.main{
	position:absolute;
	margin-left:2.5%;
	background-color:#cccc99;
	line-height:4em;
	padding-bottom:6em;
	text-align:center;
	width:8em;
	font-size:2em;
	font-family:LiSu;
	opacity:0.5;
	cursor:pointer;
	box-shadow: 12px 12px 12px #666633; 
}
p.main:hover{
	opacity:1;
}
div.main1{
	float:left;
	width:420px;
	height:350px;
	border:solid 0px black;
}
div.book_index{
	float:left;
	display:none;
	width:1300px;
	height:722px;
	background-color:#cccc66;
	overflow: auto;
}
p.book_title{
	text-align: center;
	margin-left:40px;
	width:auto;
	height:auto;
	border:solid 0px black;
	font-size: 2.5em;
	font-family: SimSun;
	line-height: 1.5;
}
p.book_author{
	text-align: center;
	margin-left:40px;
	border:solid 0px black;
	font-size: 1.5em;
	font-family: SimSun;
	line-height: 1.5;
}
p.book_introduction{
	text-indent:40px;
	position:relative;
	margin-left:100px;
	width:1100px;
	border:solid 0px black;
	font-size:1.3em;
	line-height: 1.5;
	font-family:SimSun;
}
p.begin_read{
	width:150px;
	border: solid 1px black;
	margin:auto;
	margin-top:50px;
	margin-bottom:50px;
	padding: 10px;
	text-align: center;
	background-color: #996600;
	font-size: 2em;
	font-family: SimHei;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #666633; 
}
a.begin_read{
	color:white;
	text-decoration: none;
}
a.begin_read:active{
	color:#6666cc;
}

